{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Tiwatope's GT Project</h1>
            <p class="card-text">Welcome to Hydro Game by Tiwa Seton. Enter Player names and start the Game.</p>

        </div>
    </div>
</div>

<div class="row">
    <form method="post">
        {% for id in range(4) %}
        <div class="row m-1">
            <div class="col-sm-4 m-1">
                <input type="text" name="player{{id}}" class="form-control" placeholder="Enter Player's Name" />
            </div>
        </div>
        {% endfor %}
        <div class="row m-1">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}