{% extends 'base.html' %}
{% block content %}

<div class="row m-2 p-1">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{game.current_card.title}}</h1>
      <h3 class="card-text">{{game.current_card.outcome}}</h3>
      <h2>{{game.current_card.points}}</h2>
    </div>
  </div>
</div>
<div class="row justify-content-evenly">
  {% for player in game.players %}
  <div class="card p-1 col-3">
    <div class="card-body">
      <h2 class="card-title">{{player.name}}</h2>
      <h3 class="card-text">{{player.points}}</h3>
      {% if player == game.current_player %}
      <form method="post">
        <button type="submit" class="btn btn-primary">Play</button>
      </form>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}